# FastAPI
fastapi
uvicorn

# Authentication
python-jose
passlib

# Cryptography
cryptography

# Others
pydantic
email-validator
python-multipart
eth-utils

# Blockchain and IPFS
web3
requests
requests-toolbelt
python-dotenv